<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<body class="bg-light d-flex flex-column h-100">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Guitar Store </a>

        <div class="collapse navbar-collapse justify-content-md-right">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item ">
                    <a class="nav-link " href="/cart">Cart</a>
                </li>
            </ul>

        </div>
    </nav>
    <main role="main">


        <div class="container ">


            <table class="table">
                <div class="btn btn-lg btn-block"> Your shopping cart</button>
                    <thead class="thead-dark">

                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Brand</th>
                            <th scope="col">Model</th>
                            <th scope="col">Price</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <%for(var i=0;i<products.length;i++){%>
                            <tr>
                                <th scope="row">
                                    <%= i+1%>
                                </th>
                                <td>
                                    <%= products[i].Brand%>
                                </td>
                                <td>
                                    <%= products[i].Model%>
                                </td>
                                <td>

                                    <%= products[i].Price%>
                                </td>
                                <td><button type="submit" onclick="removeFromCart('<%=JSON.stringify(products[i])%>')" class="btn btn-danger btn-sm btn-block ">Remove from cart</button></td>
                            </tr>
                            <%}%>
                    </tbody>
            </table>
            <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="clearCart()">Clear cart</button>
            <button type="submit" class="btn btn-success btn-lg btn-block" onclick="buy('<%=JSON.stringify(products)%>')">Buy</button>
            </div>

    </main>
    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">Guitar store, 2020</span>
        </div>
    </footer>
</body>
<script>
    function removeFromCart(product) {
        var req = new XMLHttpRequest();
        req.onreadystatechange = () => {
            if (req.readyState === XMLHttpRequest.DONE) {
                window.location = "cart"
            }
        }
        req.open('POST', '/remove');
        req.setRequestHeader('content-type', 'application/json')
        req.send(product);
    }

    function clearCart() {
        var req = new XMLHttpRequest();
        req.onreadystatechange = () => {
            if (req.readyState === XMLHttpRequest.DONE) {
                window.location = "cart"
            }
        }
        req.open('POST', '/clear');
        req.send();
    }

    function buy(products) {
        var req = new XMLHttpRequest();
        req.onreadystatechange = () => {
            if (req.readyState === XMLHttpRequest.DONE) {

                if (req.status === 409) {
                    window.location = "cart"
                    alert("Transaction cancelled- Some of products in cart are no longer available")
                } else if (req.status === 200) {
                    alert("Transaction complete")
                    window.location = "/"
                } else {
                    alert("Unknown error:", req.status)
                    window.location = "cart"
                }

            }
        }
        req.open('POST', '/buy');
        req.setRequestHeader('content-type', 'application/json')
        req.send(products);
    }
</script>